body{
    background-image: url("viztukor.png");
}

#img-container{
    border: 3px solid black;
    height: auto;
    width: 300px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    float: right;
    text-align: center;
    box-shadow: 10px 10px 10px gray;
    margin-right: 50px;
}

#orr-img{
    width: 300px;
    border-radius: 20px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#img-alt{
    font-size: 0.9rem;
    margin: 5px;
}

#content-container{
    margin-bottom: 60px;
    margin-top: 60px;
    margin-left: 120px;
    margin-right: 120px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: rgb(255, 255, 255, 0.7);
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}